* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.navbar .navbar_header {
    float: left;
}

.navbar .attr_nav {
    float: right;
}

.navbar .navbar_menu {
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar li {
    display: inline;
    margin: 10px;
    text-decoration-color: #FFFFFF;
}

.footer .container {
    background: #353854;
}

.footer .main_footer {
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
}

#column {
    background-image: url('../images/homebg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 150px;
}

body {
    background-image: url('../images/bodybg.png');
}